<!DOCTYPE HTML>
<html>

<head>
  {% if session.username %}
  <title>Main Page</title>
  {% else %}
  <title>Log In</title>
  {% endif %}
</head>

<body>
  {% if session.username %}
  <h1>Hello {{ session.username }}!</h1>
  <p>
    <a href="/logout">Log Out</a> <a href="/search">Search</a>
  </p>
  <h2>Recent challenges</h2>
  <hr />
  {% for post in posts %}
  <p>
    <h3>{{ post.title }}</h3>
    By: <a href="/users/{{ post.poster_id }}">{{post.username}}</a> <br />
    <a href="/posts/{{ post.id }}">Show</a> <br />
    {% if post.username == session.username %}
    <a href="/posts/delete/{{ post.id }}">Delete</a> | 
    <a href="/posts/modify/{{ post.id }}">Modify</a>
    {% endif %}
    <hr />
  </p>
  {% endfor %}
  <a href="/posts/create">New Challenge</a>
  {% else %}
  <p>You must be Logged In to view content</p>
  {% endif %}

</body>

</html>
