<!DOCTYPE HTML>
<html>

<head>
  {% if session.username %}
  <title>Main Page</title>
  {% else %}
  <title>Log In</title>
  {% endif %}
</head>

<body>
  {% if session.username %}
  <h1>Hello {{ session.username }}!</h1>
  <p>
    <a href="/logout">Log Out</a>
  </p>
  <h2>Recent challenges</h2>
  <hr />
  {% for post in posts %}
  <p>
    <h3>{{ post.title }}</h3>
    By: <a href="/users/{{ post.poster_id }}">{{post.username}}</a> <br />
    <a href="/posts/{{ post.id }}">Show</a> <br />
    {% if post.username == session.username %}
    <a href="/delete/{{ post.id }}">Delete</a> | 
    <a href="/modify/{{ post.id }}">Modify</a>
    {% endif %}
    <hr />
  </p>
  {% endfor %}
  <h2>New Challenge</h2>
  <form action="/posts/create" method="POST">
    Title: <input type="text" name="title" /> <br />
    Description: <br />
    <textarea name="description" rows=32 cols=40></textarea> <br />
    <input type="submit" />
  </form>
  {% else %}
  <h1>Log In</h1>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log In" />
  </form>
  <p>
    Or <a href="/signup">Sign Up</a>
  </p>
  {% endif %}

</body>

</html>
