{% from "components/post_preview.html" import postPreview %}
{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block header %}
  <h2>Hello {{ session.username }}</h2>
{% endblock %}

{% block content %}
  <h2>Recent challenges</h2>
  <hr />
  {% for post in posts %}
  <p>
    {{ postPreview(post.id, post.poster_id, post.title) }}
    <hr />
  </p>
  {% endfor %}
  <p>
    {% if not first_page %}
      <a href="/{{ page - 1 }}">{{ page - 1 }}</a>
    {% endif %}
    Page {{ page }}
    {% if not last_page %}
      <a href="/{{ page + 1 }}">{{ page + 1 }}</a>
    {% endif %}
  </p>
{% endblock %}
