{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block header %}
  <h2>Log In</h2>
{% endblock %}

{% block content %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log In" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
  <p>
    Or <a href="/signup">Sign Up</a>
  </p>
{% endblock %}
