{% extends "base.html" %}

{% block title %}New Challenge{% endblock %}

{% block header %}
  <h1>New Challenge</h1>
{% endblock %}

{% block content %}
  <form action="/posts/create" method="POST">
    Title: <input type="text" name="title" />
    Language: <select name="language">
      <option value=""selected disabled hidden>Select...</option>
      {% for language in languages %}
        <option value="{{ language }}">{{ language }}</option>
      {% endfor %}
    </select>
    Categories: <select name="category">
      <option value=""selected disabled hidden>Select...</option>
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select> <br />
    Description: <br />
    <textarea name="description" rows=32 cols=40></textarea> <br />
    <input type="submit" />
  </form>
{% endblock %}
