<html>

  <head>
    Search
  </head>

  <body>
    <form action="/search" method="GET">
      Search: <input type="text" name="term" /> <br />
      <input type="submit" />
    </form>
    {% if posts %}
      <hr />
      {% for post in posts %}
      <p>
        <h3>{{ post.title }}</h3>
        By: <a href="/users/{{ post.poster_id }}">{{post.username}}</a> <br />
        <a href="/posts/{{ post.id }}">Show</a> <br />
        {% if post.username == session.username %}
        <a href="/posts/delete/{{ post.id }}">Delete</a> |
        <a href="/posts/modify/{{ post.id }}">Modify</a>
        {% endif %}
        <hr />
      </p>
      {% endfor %}
    {% endif %}
  </body>

</html>
