{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block header %}
  <h1>Sign Up</h1>
{% endblock %}

{% block content %}
  <form action="/create_user" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Password Again: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Sign Up" />
  </form>
{% endblock %}